<script>
window.onload = () => {
    snowStorm.snowColor = '{{ shop.metafields.mapp_scroll_top.settings.snow_color }}';
    snowStorm.snowStick = {{ shop.metafields.mapp_scroll_top.settings.snow_stick }};
    snowStorm.animationInterval = {{ shop.metafields.mapp_scroll_top.settings.animation_interval }};
}
</script>
{% schema %}
{
  "name": "APP Snow",
  "target": "body",
  "stylesheet": "app.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}
